.input {
  padding: 1rem;
  border: 1px solid black;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  transition: all 200ms;
}

.input:focus {
  border: 1px solid lightblue;
  outline: 2px solid lightblue;
}

.checkbox {
  width: auto;
}
