.item {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  border: 1px solid lightgrey;
  background: white;
  position: relative;
}

.drag {
  width: 30px;
  height: 100%;
  background: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  touch-action: pan-x;
}

.drag:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: grey;
  top: calc(50% - 3px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.drag:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: grey;
  top: calc(50% + 3px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.description,
.price {
  font-size: 0.75rem;
}

.description {
  margin-bottom: 1rem;
}

.price {
  text-align: right;
  min-width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin: 0;
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
