.item {
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid lightgrey;
}

.description,
.price {
  font-size: 0.75rem;
}

.description {
  margin-bottom: 1rem;
}

.price {
  text-align: right;
  min-width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin: 0;
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
