.alert {
  color: white;
  background: grey;
  display: flex;
}

.info-block {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
}

.text-block {
  padding: 1rem;
}

.success {
  background: green;
}

.error {
  background: orangered;
}
