.alert {
  color: white;
  background: burlywood;
  display: flex;
  margin-bottom: 1rem;
}

.info-block {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
}

.text-block {
  padding: 1rem;
}

.success {
  background: darkseagreen;
}

.error {
  background: darkred;
}
